body {
  /*min-height: 150vh;*/
  margin: 0px;
  background-color: #d5e1df;
  color: black;
}

html,
body {
  width: auto;
  height: auto;
}

a {
  font-size: 14px;
  text-decoration: underline;
  color: black;
}

a:hover {
  color: #86af49;
}

.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin: 0px 15px;
  background: -webkit-linear-gradient(white, #b5e7a0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
  float: left;
}

.logoLeft {
  display: inline-block;
  text-align: left;
  width: 50%;
  margin: auto;
}

* {
  box-sizing: border-box;
}

.download {
  border: solid 1px #b5e7a0;
  float: right;
  margin: 5px 5px;
  padding: 5px 20px;
  font-size: 14px;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  font-family: 'Black Ops One', cursive;
}

.download:hover {
  background: -webkit-linear-gradient(white, #b5e7a0, #b5e7a0, #b5e7a0, white);
  color: black;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ada397;
  color: grey;
  border-top: solid silver 1px;
}

.footer p {
  font-size: 14px;
}

main {
  margin: 50px auto auto auto;
  text-align: center;
}

#wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #ada397;
  font-size: 20px;
  border-bottom: solid 2px silver;
  margin: auto;
}

#div1 {
  float: left;
  width: 50%;
  margin: auto;
}

#div2 {
  float: left;
  width: 50%;
  margin: auto;
}

.gameimg {
  width: 80px;
  height: 80px;
}

#maindiv1 {
  float: left;
  width: 25%;
  margin: auto;
}

#maindiv2 {
  float: left;
  width: 50%;
  margin: auto;
  background-color: #bdcebe;
  box-shadow: 5px 5px #86af49;
}

#maindiv3 {
  float: left;
  width: 50%;
  margin: auto;
}

#maindiv4 {
  float: left;
  width: 50%;
  margin: auto;
}

#maindiv5 {
  float: left;
  width: 25%;
  margin: auto;
}

.backbtn {
  background-color: #ada397;
  text-decoration: none;
  color: grey;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.backbtn:hover {
  text-decoration: underline;
  text-decoration-color: #b5e7a0;
  color: black;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ada397;
  color: grey;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.dropbtn:hover {
  text-decoration: underline;
  text-decoration-color: #b5e7a0;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ada397;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #b5e7a0
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Dropdown Button */
.dropbtn1 {
  background-color: #ada397;
  color: grey;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.dropbtn1:hover {
  text-decoration: underline;
  text-decoration-color: #b5e7a0;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #ada397;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
  color: #b5e7a0
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show1 {
  display: block;
}


/* Dropdown Button */
.dropbtn2 {
  background-color: #ada397;
  color: grey;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.dropbtn2:hover {
  text-decoration: underline;
  text-decoration-color: #b5e7a0;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #ada397;
  min-width: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
  color: #b5e7a0
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show2 {
  display: block;
}


/* Dropdown Button */
.dropbtn3 {
  background-color: #ada397;
  color: grey;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.dropbtn3:hover {
  text-decoration: underline;
  text-decoration-color: #b5e7a0;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #ada397;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {
  color: #b5e7a0
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show3 {
  display: block;
}

/* Dropdown Button */
.dropbtn4 {
  background-color: #ada397;
  color: grey;
  margin: 10px 0px 0px 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.dropbtn4:hover {
  text-decoration: underline;
  text-decoration-color: #b5e7a0;
  color: black;
}

/* The container <div> - needed to position the dropdown content */
.dropdown4 {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content4 {
  display: none;
  position: absolute;
  background-color: #ada397;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content4 a {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content4 a:hover {
  color: #b5e7a0
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show4 {
  display: block;
}