* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529;
    min-height: 200vh;
    color: white;
    display: flex;
    flex-direction: column;
}

hr {
    margin: auto;
    width: 75%;
}

p {
    display: inline;
}

header {
    background: #F8F9FA;
    position: sticky;
    top: 0;
    color: black;
}

#update-news {
    background-color: yellow;
    text-align: center;
    border-bottom: solid 1px black;
    color: black;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    list-style: none;

}

.nav-ul li {
    margin: 5px;
}

.socials {
    font-size: 20px !important;
}

main {
    text-align: center;
}