body {
    background-color: #141718;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #141718;
    color: white;
    display: flex;
    flex-direction: column;
    transition: width 0.1s ease-in-out;
}

.sidebar img {
    align-self: center;
    width: 200px;
    margin-top: 20px;
}

.toggle-button {
    position:fixed;
    top: -5px;
    left: -5px;
    background-color: #141718;
    color: white;
    border: none;
    border-radius: 100%;
    padding: 10px 11px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.toggle-button:hover i {
    color: #e68a1d;
}

.sidebar.collapsed {
    width: 0px;
}

.sidebar:not(.collapsed) {
    width: 250px;
}

.sidebar ul {
    list-style-type: none;
    padding: 20px 0 20px 20px;
    transition: opacity 0.3s;
    opacity: 1;
}

.sidebar.collapsed ul {
    opacity: 0;
    pointer-events: none;
}

.sidebar a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 18px;
}

.sidebar a:hover {
    background-color: #232627;
}

.sidebar a.active {
    background-color: #232627;
}

.wrapper {
    display: flex;
}

.content {
    flex: 1;
    padding: 20px;
    border: 15px solid #141718;
    border-radius: 25px;
    position: relative;
    height: calc(100vh - 69.5px);
    overflow-y: auto;
}

.footer {
    padding: 10px;
    background-color: #141718;
    color: white;
    text-align: center;
}

.sidebar ul.secondary-links {
    margin-top: auto;
    padding: 0 0 20px 20px;
}

.sidebar ul.secondary-links a {
    margin: 5px 0;
}

section {
    display: none;
}

.shown {
    display: block;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.project-table {
    width: 100%;
    border-collapse: collapse;
}

.project-table th,
.project-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.project-table th {
    background-color: #ff9dbb;
    color: #fff;
}

.project-title {
    font-weight: bold;
    color: #ff6b88;
}

.theme-buttons {
    text-align: center;
    margin-top: 20px;
}

.theme-button {
    padding: 4px 16px;
    /* Adjust padding for smaller buttons */
    margin: 0 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a shadow box */
    transition: transform 0.2s, background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.theme-button i {
    color: #ff9dbb;
}

.theme-button:focus {
    outline: none;
}

.theme-button:hover {
    transform: scale(1.1);
    /* Apply scale transformation on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Enhance shadow on hover */
}

a {
    color: #6fa4e6;
    text-decoration: wavy;
    margin: 0 10px;
}