body {
    font-family: 'Arial', sans-serif;
    background-image: url('bg.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    min-height: 100vh; /* Ensure body covers at least the full height of the viewport */
    margin: 0; /* Remove default margin */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; /* Set position to relative to position the overlay */
}

/* Create the overlay */
body::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute; /* Position it absolutely */
    top: 0; /* Cover the top */
    left: 0; /* Cover the left */
    right: 0; /* Cover the right */
    bottom: 0; /* Cover the bottom */
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 1; /* Make sure overlay is above the background */
}

#cards-container {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center; /* Center the cards */
    
    max-width: 1200px; /* Optional: Set a max width for the container */
    margin: 0 auto; /* Center the container */
    position: absolute; /* Positioning context for children */
    z-index: 2; /* Ensure content is above the overlay */
}

.download-card {
width: 300px;
height: 50px;
background: linear-gradient(145deg, #f4e4ff, #f9d0e4);
border-radius: 10px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
padding: 10px;
display: flex;
flex-direction: column;
margin: 10px;
position: relative;
}

.card-content {
display: flex;
align-items: center;
flex-grow: 1;
}

.download-card img {
width: 50px;
height: 50px;
border-radius: 10px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.info {
margin-left: 15px;
flex-grow: 1;
}

.download-title {
font-size: 16px;
font-weight: bold;
color: #333;
text-align: left;
}

.download-version {
font-size: 14px;
color: #666;
}

.download-btn {
    background-color: #ff80c0;
    color: white;
    border: none;
    padding: 2px 12px;
    width: 50px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for background and transform */
}

.download-btn:hover {
    background-color: #ff56a5;
    transform: scale(1.1); /* Scale the button up to 1.1 times its size */
}
