* {
    margin: 0;
    padding: 0;
}

body {
    /* min-height: 150vh; */
    background-color: #fff;
}

nav {
    height: 64px;
    width: 100%;
    display: flex;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    transition: box-shadow .2s ease-in-out;
    width: 100%;
    z-index: 3;
}

header.sticky{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}

body header nav .logo { margin: 0 14px 0 28px; }
body header nav div.logo-holder { width: 142px; }

body header nav div.content-holder {
    width: 100%;
    display: flex;
}

body header nav div.content-holder div.links-holder {
    float: left;
    width: 75%;
}

body header nav div.content-holder div.links-holder a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

body header nav div.content-holder div.info-holder {
    float: right;
    text-align: right;
    width: 30%;
}

body header nav div.content-holder div.info-holder a {
    color: black;
    margin: 0 5px;
}

ul {
    color: red;
}

body header nav div.content-holder div.info-holder a:hover { color: red; }
body header nav div.content-holder div.links-holder a:hover { color: red }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 45%;
    position: relative;
    transition: all .2s ease-in-out;
    text-align: left;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
  .popup .close:hover {
    color: red;
  }
  .popup .content {
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 80%;
    }
    .popup{
      width: 80%;
    }
  }

.games {
    padding: 20px 25px 0 25px;
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 0px auto;
}

.games h2 {
    color: black;
    margin: 10px 0;
    text-align: center;
}

.games ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.games ul li {
    list-style: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    color: black;
}

.games ul li.active {
    background-color: #1aeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

.games .cardBx {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.games .cardBx .card {
    width: 285px;
    border-radius: 10px;
    margin: 20px 40px;
    overflow: hidden;
    border: 1px solid black;
    background-color: #fff;
}

.games .cardBx .card div img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.container {
    position: relative;
}

.container .info-btn
{
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.container .new
{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

.container .dwnld-btn
{
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.dwnld-btn, .info-btn
{
    color: white;
    cursor: pointer;
}

.games .cardBx .card .content {
    padding: 10px;
}

.games .cardBx .card .content h4{
    color: black;
    margin: 15px 0;
}

.games .cardBx .card .progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background-color: #000;
    margin-bottom: 15px;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.games .cardBx .card .progress-line span.available {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #1aeeef;
    box-shadow: 0 0 10px #1aeeef;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.games .cardBx .card .progress-line span.unavailable {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 0 10px red;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.games .cardBx .card .info {
    border-top: 2px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.games .cardBx .card .info p {
    font-size: 1em;
    color: black;
}

.games .cardBx .card .info p span {
    color: #1aeeef;
}

.games .cardBx .card .info a {
    display: inline;
    padding: 10px 20px;
    margin: 10px 0;
    border: solid 1px #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    letter-spacing: 1px;
}

.a-btn {
    display: inline;
    padding: 10px 20px;
    margin: 10px 0;
    border: solid 1px #1aeeef;
    text-decoration: none;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    letter-spacing: 1px;
}

.a-btn:hover {
    background-color: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

.a-btn-2
{
    display: inline !important;
    padding: 5px 10px !important;
    margin: 5px 5px !important;
    border: solid 1px #1aeeef !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    border-radius: 5px !important;
    color: black !important;
    letter-spacing: 1px !important;
}

.games .cardBx .card .info a:hover {
    background-color: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}

.games .cardBx .card.hide {
    display: none;
}