body {
  margin: 0;
  /* padding: 0; */
  font-family: Arial, sans-serif;
  background: url(Images/Background.jpg) no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: lightpink;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a box shadow at the bottom */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 85px;
  /* Adjust the width as needed */
  height: auto;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* Add this line to create a flex container */
  justify-content: center;
  /* Add this line to horizontally center the menu */
  align-items: center;
  /* Add this line to vertically center the menu */
  flex-grow: 1;
  /* Add this line to make the menu fill the remaining space */
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
  /* Remove margin-right from the last menu item */
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.search-bar {
  margin-right: 20px;
  width: 90%;
  /* Add this line to create spacing between the search bar and the menu */
}

.search-form {
  position: relative;
  display: flex;
}

.search-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ff80ab;
  border-radius: 20px;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-section {
  margin-top: 57.5px;
}

.main-section,
.search-section {
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.section h2 {
  color: #ff69b4;
  /* Pink color for the header */
}

.section p {
  color: #666;
}

.subsections {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.subsection {
  flex-basis: 30%;
  background-color: #f8f8f8;
  /* Light pink background color for the subsection */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ff69b4;
  /* Pink border for the subsection */
}

.subsection h3 {
  color: #ff69b4;
  /* Pink color for the subheader */
}

.subsection p {
  color: #777;
}

.downloadable-mods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  align-content: space-around;
}

.mod-card {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 225px;
  /* Adjust the width as desired */
  border: 1px solid #ccc;
  margin: 0 10px 10px 0;
  padding: 3px;
  /* Adjust the padding as desired */
  position: relative;
  /* Add position relative for sticker positioning */
  cursor: pointer;
  /* Show pointer cursor when hovering over the card */
  transition: transform 0.25s ease-out;
  /* Add transition effect */
}

/* .card-container {
  margin: 0 10px 10px 0;
} */

.mod-card:hover {
  transform: scale(1.05);
  /* Increase scale when hovered */
}

.mod-info {
  display: flex;
  align-items: center;
}

.mod-info img {
  width: 50px;
  height: 50px;
  /* border: 1px solid #000; */
  border-radius: 4px;
  margin-right: 10px;
}

.mod-details {
  color: #666;
}

.mod-details h3 {
  margin: 0;
  font-size: 16px;
  color: #ff69b4;
  /* Pink color for the mod name */
}

.mod-details p {
  margin: 0;
  font-size: 12px;
}

.mod-info-card h3 {
  color: #FF69B4;
}

.author {
  font-weight: bold;
}

.mod-status {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #ff69b4;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
}

.forge-section {
  background-color: #f9f9f9;
}

.debug-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  font-size: xx-small;
  text-align: center;
}

/* Modal styles */
.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  /* Added initial opacity */
  transition: opacity 0.3s ease-in-out;
  /* Added transition */
}

.modal.show {
  opacity: 1;
  /* Show the modal with full opacity */
}

.modal-content {
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  opacity: 0;
  /* Added initial opacity */
  transition: opacity 0.3s ease-in-out;
  /* Added transition */
}

.modal-content.show {
  opacity: 1;
  /* Show the modal content with full opacity */
}

.modal-title {
  font-size: 24px;
  color: #ff69b4;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 0;
  display: inline;
}

.modal-paragraph {
  margin: 0 0 10px 20px;
}

/* Close button styles */
.close-btn {
  position: absolute;
  top: 0;
  right: 10px;
  /* Updated position to top right */
  cursor: pointer;
  font-size: 40px;
  color: pink;
}

.arrow-btn {
  cursor: pointer;
  font-size: 24px;
  color: #ff69b4;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.arrow-btn.open {
  transform: rotate(180deg);
}


/* Card styles */
.card-container {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  width: 160px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 150px;
  height: 150px;
}

.card-content {
  margin-top: 10px;
}

.author i {
  font-size: 12px;
  color: green;
}

/* Message styles */
.message-container {
  width: 500px;
  padding: 10px 25px;
}

.message {
  margin: 0;
}

/* Name styles */
.card-title {
  color: #ff69b4;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hidden-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  /* Added transition */
}

.show-content {
  max-height: 500px;
  /* Adjust the height based on your content */
}


.face-button {
  --accent-color: #FF69B4;
  --background-color: #FFF;
  --text-color: #FF69B4;
  --hover-background-color: #FF69B4;
  --hover-text-color: #FFF;
  --transition-duration: 0.4s;

  min-width: 200px;
  height: 40px;
  display: inline-block;
  border: 3px solid var(--accent-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
  overflow: hidden;
  margin: 5px;
}

.face-button .icon {
  margin-right: 6px;
}

.face-primary,
.face-secondary {
  display: block;
  padding: 12px 0;
  line-height: var(--height);
  transition: margin var(--transition-duration);
}

.face-primary {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.face-button:hover .face-primary {
  margin-top: -40px;
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    /* Change the direction of the menu items to vertical */
    align-items: center;
    /* Center align the menu items vertically */
  }

  .top-section {
    margin-top: 100px;
  }

  .menu li {
    margin-right: 0;
    /* Remove the right margin from the menu items */
    margin-bottom: 10px;
    /* Add some spacing between the menu items */
  }

  .main-section,
  .search-section {
    width: 90%;
    /* Adjust the width of the main and search sections for smaller screens */
  }

  .section {
    padding: 10px;
    /* Adjust the padding for smaller screens */
  }
}